@model Data.Models.RoomBed

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RoomBed</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BedName" class="control-label"></label>
                <input asp-for="BedName" class="form-control" />
                <span asp-validation-for="BedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkroomId" class="control-label"></label>
                <select asp-for="FkroomId" class ="form-control" asp-items="ViewBag.FkroomId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modified" class="control-label"></label>
                <input asp-for="Modified" class="form-control" />
                <span asp-validation-for="Modified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fkcreatedby" class="control-label"></label>
                <input asp-for="Fkcreatedby" class="form-control" />
                <span asp-validation-for="Fkcreatedby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkmodifiedBy" class="control-label"></label>
                <input asp-for="FkmodifiedBy" class="form-control" />
                <span asp-validation-for="FkmodifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
